.form-card
  %h3.text-center Well done, your link has been shortened!
  .col-md-6
    %form.simple_form
      .form-group.string.disabled
        %label.string.disabled.control-label
          Your original URL was:
        %input.disabled.form-control{value: @url, disabled: true}
    %br
    Your shortened URL is:
    = short_url_link params[:short_url]
